* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(26, 27, 38, 0.0); /* Fundo 100% Transparente */
    color: #c0caf5;
}

/* Espaços de Trabalho (Workspaces) */
#workspaces {
    background: #1a1b26;
    margin: 5px 5px;
    padding: 5px 5px;
    border-radius: 15px;
    border: 1px solid #7aa2f7; /* Borda Azul */
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #7aa2f7;
    border-bottom: 2px solid transparent;
}

#workspaces button.active {
    color: #bb9af7;
    border-bottom: 2px solid #bb9af7; /* Sublinhado Roxo no ativo */
}

/* Cápsulas dos Módulos (Direita) */
#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray {
    padding: 0 10px;
    margin: 5px 3px;
    background-color: #1a1b26;
    color: #c0caf5;
    border-radius: 15px;
    border: 1px solid #414868;
}

/* Destaques de cor */
#clock {
    color: #bb9af7;
    border-color: #bb9af7;
}

#battery.charging {
    color: #9ece6a;
    border-color: #9ece6a;
}

#network.disconnected {
    background-color: #f7768e;
    color: #1a1b26;
}

#pulseaudio.muted {
    color: #f7768e;
}
